@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Rajdhani:wght@700&family=Roboto:wght@100&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

#h1 {
    color: #575757;
    text-align: left;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 23px;
}


.section {
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
    color: #9B9B9B;
}

.section article form {
    color: #575757;
}



.formulario {
    color: #9B9B9B;
    margin-top: 63px;
    margin-left: 87px;
    margin-right: 67px;
}

.texto {
    align-self: center;
    text-align: left;
    color: #575757;
    position: relative;
    bottom: 31px;
}

.input {
    margin-bottom: 15px;
    width: 537px;
    height: 26px;
    color: #9B9B9B;
    border-color: #9B9B9B;
}

.fomulario form label {
    margin-top: 40px;
}

.input1 {
    width: 15px;
    height: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
    margin-right: 2px;

}

.checklabel {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

/* .checklabel input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15px;
    height: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
    margin-right: 2px;
} */

.checklabel1 {
    display: flex;
    align-items: center;
    font-size: 14px;
}

#checkposition {
    margin-left: -174px;
}

#checkposition1 {
    margin-left: -174px;
}

.radiolabel {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.radiolabel1 {
    display: flex;
    align-items: center;
    font-size: 14px;
}

#radioposition {
    position: relative;
    right: 111px;
}

#radioposition1 {
    position: relative;
    right: 191px;
}

#select {
    width: 537px;
    height: 26px;
    margin-bottom: 15px;
}

.textarea {
    color:#9b9b9b;
    border-color: #9b9b9b;
}

.curriculo {
    margin-right: 10px;
}

#button {
    width: 537px;
    height: 33px;
    background-color: #C2185B;
    color: white;
    font-weight: bold;
    border-color: white;
}